<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookanything">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookAnything">
        <activity android:name=".LibraryList"></activity>
        <activity android:name=".HosConfirm" />
        <activity android:name=".HosList" />
        <activity android:name=".Barbar" />
        <activity android:name=".Movie" />
        <activity android:name=".Library" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Hospital" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>